
<h3> <a href="#/post">{{pageTitle}}</a></h3>


<table class = "hoverable">
        <thead>
          <tr>
              <th data-field="id">Title</th>
              <th data-field="name">Author</th>
              <th data-field="name">Date</th>
          </tr>
        </thead>

        <tbody >
          <tr ng-repeat="item in data" ng-click="gotoComments(item._id)">
            <td>{{item.title}}</td>
            <td>{{item.author}}</td>
            <td><i class="material-icons"><a href="#/posts/{{post._id}}"> visibility</i></td>
          </tr>
        </tbody>
      </table>

      <form ng-submit="addPost()"
        style="margin-top:30px;">
        <h3>Add a new post</h3>
        
        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Message"
          ng-model="message"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>